<html>
<head>
    <title>Roomba Moves</title>
    <p>Notice: The input must be strict as required.
       <br/>*the first line holds the room dimensions (X Y), separated by a single space (all coordinates will be presented in this format)
        <br/>*the second line holds the hoover position
        <br/>*subsequent lines contain the zero or more positions of patches of dirt (one per line)
        <br/> *the next line then always contains the driving instructions, consistof 'W', 'E', 'N', 'S' (all Capital, at least one)</p>
</head>
<body>
<header class="panel">
    {{{body}}}
</header>
</body>
</html>