<div>
    <form action="/" method="post">
        Please Provide Input:
        <br/>
        <textarea rows="10" cols="50" name="input"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
